.MainContainer {
    width: 70%;
    height: 100%;
    float: left;
    padding: 10px
}

.CardCommit {
    width: 25%;
    height: 150px;
    border: 1px solid #bdbbbb;
    box-shadow: 1px 1px 5px #929191;
    padding: 10px;
    display: block;
}
